.git
.settings
.vscode
src/main/resources/sql
src/main/resources/*.properties
src/main/resources/hibernate.cfg.xml
src/main/resources/*.readme
src/main/webapp/css/plugins
src/main/webapp/js/plugins
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/test/resources/sql
src/test/resources/hibernate.cfg.xml
src/test/resources/*.properties
target
.classpath
.project