<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
	<display-name>MyHome</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<filter>
		<filter-name>AuthentificationFilter</filter-name>
		<filter-class>fr.my.home.filter.AuthentificationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthentificationFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>LocalizationFilter</filter-name>
		<filter-class>fr.my.home.filter.LocalizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LocalizationFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error500.jsp</location>
	</error-page>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/jsp/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>