/* Radio Buttons Group */
.rd-search-group {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

/* Radio Button Google */
.rd-search-google {
	position: relative;
	bottom: 3px;
}

/* Radio Button YouTube */
.rd-search-youtube {
	position: relative;
	bottom: 4px;
}

/* Radio Button Amazon */
.rd-search-amazon {
	position: relative;
	bottom: 0px;
}

/* Input Search */
#inputSearch {
	width: 60%;
}